  <!-- carousel starts -->
  <div *ngIf="!isLoading" id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <ng-container *ngFor="let product of heroProducts; let i = index">
          <div class="item" [ngClass]="{'active': i === 0}">
            <div class="container">
              <a routerLink="/registration">
                <img *ngIf="product.image_path" style="width:100%" [src]="product.image_path" alt="special offers"/>
              </a>
              <div class="carousel-caption">
                <h4>{{product?.name}}</h4>
                <p>{{product?.description}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div> 
  </div>