<h4>Featured Products <small class="pull-right">200+ featured products</small></h4>
<div *ngIf="!isLoading" class="row-fluid">
<div id="featured" class="carousel slide">
  <ul class="thumbnails">
    <ng-container *ngFor="let product of featuredProducts">
      <li class="span3">
        <div class="thumbnail">
        <i class="tag"></i>
          <a routerLink="/product/4"><img [src]="product.image_path" alt=""></a>
          <div class="caption">
            <h5>{{ product.name }}</h5>
            <h4><a class="btn" routerLink="/product/4">VIEW</a> <span class="pull-right">${{product.price}}</span></h4>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
  </div>
  </div>